
@import 'variables.scss';
@import 'sectionWhoOwns.scss';
@import 'examplesLegality.scss';

  $color-all: #565B68;
  $color-uptitle: #867DE8; 
  $color-title: #283456;
  $border-radius: 16px;
  $weight-700: 700;
  $weight-600: 600;
  $weight-400: 400;
  $color-title1: #2d9cdb;
  $color-title3:#27AE60;

* {
font-family: "Open Sans", sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
font-weight: $weight-400;
}


ul {
list-style: none;
}

.header {

  max-width: 1920px;
  background-image: url("/public/img_header/header_ware.png");
  background-size: auto;
  background-repeat: no-repeat;
  overflow: hidden;

  @media (max-width: 1280px) {
    background-position-x: center;
  }

  @media (max-width: 1024px) {
    background-position-x: center;
  }
  @media (max-width: 760px) {
      height: 50vh;
  }
  @media (max-width: 460px) {
    height: 38vh;
}

}
.conteiner {
  max-width: 1343px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1280px) {
    margin-left: 30px;
  }

  @media (max-width: 1024px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (max-width: 760px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (max-width: 460px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.main-header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.img-logo img {
  width: 180px;
  height: 40px;
  margin-top: 16px;
  margin-bottom: 40px;
}
.right-icon {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-right: 20%;

  @media (max-width: 1280px) {
    margin-left: 72%;
  }
  @media (max-width: 1024px) {
    margin-left: 55%;
  }
  @media (max-width: 760px) {
    margin-left: 40%;
  }
  @media (max-width: 460px) {
    margin-left: 10%;
  }
}
.btn-english {
  margin-right: 10px;
  background-color: transparent;
  border: none;
}
.botton-lon-in {
  width: 140px;
  height: 44px;
  color: #ffffff;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  @media (max-width: 460px) {
    margin-right: 20%;
  }
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 760px) {
    flex-direction: column;
    align-items: center;
  }
}
.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (max-width: 760px) {
    width: 680px;
  }
  @media (max-width: 460px) {
    width: 420px;
  }
}

.h2 h2 {
  color: #ffffff;
  font-family: Open Sans;
  font-size: 60px;
  line-height: 66px;
  text-align: left;
  margin-bottom: 10px;
  max-width: 690px;

  @media (max-width: 1280px) {
    max-width: 600px;
  }

  @media (max-width: 1024px) {
    font-size: 50px;
    line-height: 55px;
    max-width: 500px;
  }
  @media (max-width: 460px) {
    font-size: 40px;
    line-height: 45px;
    margin-bottom: 15px;
  }
}

.h3 h3 {
  color: #ffffff;
  font-family: Open Sans;
  font-size: 38px;
  line-height: 45.6px;
  text-align: left;
  max-width: 600px;

  @media (max-width: 1280px) {
    max-width: 500px;
    font-size: 32px;
    line-height: 38px;
  }

  @media (max-width: 460px) {
    font-size: 28px;
    line-height: 30px;
  }
}

.botton-start-now {
  width: 304px;
  height: 84px;
  color: #ffffff;
  font-family: Open Sans;
  border-radius: 50px;
  background: linear-gradient(90deg, #ee3a5e, #fcc45c);
  transition: background-color 0.3s ease;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  border: none;

  @media (max-width: 460px) {
    width: 280px;
    margin-top: 20px;
  }
}


.paragraf {
  color: #565b68;
  font-size: 16px;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 550px;

  @media (max-width: 1024px) {
    max-width: 450px;
  }

  @media (max-width: 460px) {
    margin-top: 20px;
  }

  

}

.header-rigth {
  display: flex;
  align-items: center;
  max-width: 50%;
  position: relative;
}


.img-my-doc{
  position: absolute;
  right: 750px;
  top: -265px;
  width: 100%;

  @media (max-width: 1280px) {
    width: 45%;
    right: 550px;
    margin-top: 20px;
  }

  @media (max-width: 1024px) {
    right: 510px;
    top: -270px;
  }
  @media (max-width: 760px) {
    top: -50px;
    left: -370px;
  }
  @media (max-width: 460px) {
    left: -225px;
    margin-top: 15px;
  }
  
}
.img-my-doc img {
  width: 750px;

  @media (max-width: 760px) {
    width: 750px;
  }

  @media (max-width: 460px) {
    width: 450px;
  }
}
/* SECTION WHO OWNS START */
.who-owns {
  padding: 1.66% 1.25% 6.875% 1.25%;
  position: relative;
  overflow: hidden;

  &::before {
      background-blend-mode: multiply;
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: url('../public/images/whoOwns/bg.svg');
      background-color: rgba(86, 91, 104, 1);
      opacity: 0.1;
      background-repeat: no-repeat; 
      background-position: center;
  }



@media (max-width: 760px) {
  .wrapper {
      justify-content: center;
  }
}


 }
  


  
 






  


