
:root {
    --color-all: #565B68;
    --color-uptitle: #867DE8; 
    --color-title: #283456;
    --border-radius: 16px;
    --weight-700: 700;
    --weight-600: 600;
    --weight-400: 400;
}

* {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: var(--weight-400);
}

img {
    max-width: 100%;
}

/* SECTION WHO OWNS START */
.who-owns {
    padding: 1.66% 1.25% 6.875% 1.25%;
    position: relative;
    overflow: hidden;

    &::before {
        background-blend-mode: multiply;
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-image: url('../public/images/sectionWhoOwns/bg.svg');
        background-color: rgba(86, 91, 104, 1);
        ;
        opacity: 0.1;
        background-repeat: no-repeat; 
        background-position: center;
    }

    .container {
        max-width: 1063px;
        margin: 0 auto;

        .up-title {
            color: var(--color-uptitle);
            font-size: 20px;
            font-weight: var(--weight-700);
            text-transform: uppercase;
            line-height: 24px;
        }
        
        .title {
            color: var(--color-title);
            font-weight: var(--weight-700);
            font-size: 38px;
            line-height: 45.6px;
        }
        
        .who-owns__title,
        .who-owns__text {
            max-width: 82.8%;
        }
        
        .who-owns__title {
            margin: 0.85% 0 1.50% 0;
        }
        
        .text {
            font-weight: var(--weight-400);
            font-size: 20px;
            line-height: 28px;
            color: var(--color-all);
        }
        
        .wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, 343px);
            gap: 17px;
            padding-top: 7.52% ;

            .card {
                border: 1px solid #2D39451A;
                border-radius: var(--border-radius);
                box-shadow: 0px 4px 47.4px 0px #2D39451A;
                padding: 25px 17px;
                width: 100%;
                min-height: 377px;
                background-color: white;
            }
            
            .card-title {
                color: var(--color-title);
                font-size: 24px;
                font-weight: var(--weight-600);
                line-height: 26.4px;
                text-align: left;
                margin: 6.19% 0;
            }
            
            .card-text {
                color: var(--color-all);
                font-size: 14px;
                font-weight: var(--weight-400);
                line-height: 19.6px;
                text-align: left;
            }
        }
    }
}

/* SECTION WHO OWNS END */

@media (max-width: 760px) {
    .wrapper {
        justify-content: center;
    }
}
