* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: 400; }

img {
  max-width: 100%; }

ul {
  list-style: none; }

.header {
  min-width: 1920px;
  background-image: url("/public/img_header/header_ware.png");
  background-size: auto;
  background-repeat: no-repeat; }

.conteiner {
  max-width: 1343px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.main_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  width: 100%; }

.header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 50%; }

.img_logo {
  width: 180px;
  height: 40px;
  margin-top: 16px;
  margin-bottom: 40px; }

h2 {
  color: #ffffff;
  font-size: 60px;
  line-height: 66px;
  text-align: left;
  margin-bottom: 10px; }

h3 {
  color: #ffffff;
  font-size: 38px;
  line-height: 45.6px;
  text-align: left; }

.botton_start-now {
  width: 304px;
  height: 84px;
  color: #ffffff;
  font-family: Open Sans;
  border-radius: 50px;
  background: -webkit-gradient(linear, left top, right top, from(#EE3A5E), to(#FCC45C));
  background: linear-gradient(90deg, #EE3A5E, #FCC45C);
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px; }

p {
  color: #565B68;
  font-size: 16px;
  text-align: left;
  margin-top: 30px; }

.header_rigth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 50%; }

.right_icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px; }

.img_english {
  width: 101px;
  height: 23px;
  margin-right: 10px; }

.botton_lonIn {
  width: 140px;
  height: 44px;
  color: #ffffff;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.img_myDoc {
  width: 730px;
  margin: 35px 0; }

/* SECTION WHO OWNS START */
.who-owns {
  padding: 1.66% 1.25% 6.875% 1.25%;
  position: relative;
  overflow: hidden; }
  .who-owns::before {
    background-blend-mode: multiply;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../public/images/whoOwns/bg.svg");
    background-color: #565b68;
    opacity: 0.1;
    background-repeat: no-repeat;
    background-position: center; }
  .who-owns .container {
    max-width: 1343px;
    margin: 0 auto; }
    .who-owns .container .up-title {
      color: #867DE8;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      line-height: 24px; }
    .who-owns .container .title {
      color: #283456;
      font-weight: 700;
      font-size: 38px;
      line-height: 45.6px; }
    .who-owns .container .who-owns__title,
    .who-owns .container .who-owns__text {
      max-width: 82.8%; }
    .who-owns .container .who-owns__title {
      margin: 0.85% 0 1.50% 0; }
    .who-owns .container .text {
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      color: #565B68; }
    .who-owns .container .wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, 343px);
      gap: 17px;
      padding-top: 7.52%; }
      .who-owns .container .wrapper .card {
        border: 1px solid #2D39451A;
        border-radius: 16px;
        -webkit-box-shadow: 0px 4px 47.4px 0px #2D39451A;
                box-shadow: 0px 4px 47.4px 0px #2D39451A;
        padding: 25px 17px;
        width: 100%;
        min-height: 377px;
        background-color: white; }
      .who-owns .container .wrapper .card-title {
        color: #283456;
        font-size: 24px;
        font-weight: 600;
        line-height: 26.4px;
        text-align: left;
        margin: 6.19% 0; }
      .who-owns .container .wrapper .card-text {
        color: #565B68;
        font-size: 14px;
        line-height: 19.6px;
        text-align: left; }

/***EXAMPLES & LEGALYTY***/
/***EXAMPLES***/
#examples {
  width: 100%;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px; }
  #examples .container_main {
    max-width: 1343px;
    margin: 0 auto; }
  #examples .text-exampl {
    color: #2d9cdb;
    font-weight: 700;
    font-size: 20px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-transform: uppercase; }
  #examples .articles-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 20px; }
  #examples .article-card {
    width: 340px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 6.98%; }
    #examples .article-card img {
      width: 340px;
      height: 159px;
      -o-object-fit: cover;
         object-fit: cover; }
    #examples .article-card h1 {
      text-align: start;
      padding-top: 15px;
      font-weight: 600;
      size: 24px;
      color: var(--color-title2); }
    #examples .article-card p {
      text-align: start;
      padding-top: 15px;
      size: 14px; }

/***LEGALITY***/
#legality {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("../img/g34.svg");
  background-position: center top;
  background-repeat: no-repeat; }
  #legality h3,
  #legality h1,
  #legality .container {
    padding: 1% 0;
    margin: 0; }
  #legality .container_main {
    max-width: 1343px;
    margin: 0 auto;
    padding-top: 59.57px; }
  #legality h3 {
    color: var(--color-title3);
    font-weight: bold;
    font-size: left; }
  #legality h1 {
    color: var(--color-title);
    font-weight: 700;
    font-size: left;
    font-size: 38px; }
  #legality .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 14.9px;
    font-size: 20px;
    padding-top: 14px;
    color: var(--color-titlep); }
  #legality .text {
    width: 60%;
    float: left; }
  #legality .parcing-text {
    font-weight: bold; }
  #legality .image {
    width: 364px;
    height: 364px;
    float: right; }
  #legality button {
    width: 470px;
    height: 84px;
    color: #fff;
    font-style: Open Sans;
    font-weight: 700;
    font-size: 32px;
    border-radius: 40px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    cursor: pointer;
    border: none;
    background: -webkit-gradient(linear, right top, left top, from(#FCC45C), to(#EE3A5E));
    background: linear-gradient(to left, #FCC45C, #EE3A5E);
    margin-left: .4em;
    margin-top: 41px; }
  #legality #bg {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-image: url("../img/Ellipse98.svg");
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; }

/* SECTION WHO OWNS END */
@media (max-width: 760px) {
  .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
