
@import 'variables.scss';
@import 'sectionWhoOwns.scss';
@import 'examplesLegality.scss';
@import 'header.scss';

  $color-all: #565B68;
  $color-uptitle: #867DE8; 
  $color-title: #283456;
  $border-radius: 16px;
  $weight-700: 700;
  $weight-600: 600;
  $weight-400: 400;
  $color-title1: #2d9cdb;
  $color-title3:#27AE60;


/* SECTION WHO OWNS START */
.who-owns {
  padding: 1.66% 1.25% 6.875% 1.25%;
  position: relative;
  overflow: hidden;

  &::before {
      background-blend-mode: multiply;
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-image: url('../public/images/whoOwns/bg.svg');
      background-color: rgba(86, 91, 104, 1);
      opacity: 0.1;
      background-repeat: no-repeat; 
      background-position: center;
  }



@media (max-width: 760px) {
  .wrapper {
      justify-content: center;
  }
}}



  


  
 






  


